<div class="charselect">
<%= image_tag("https://i.imgur.com/cRYXmuv.jpg", style: "position: absolute; border:0px;margin:0px:display:inline;top:0px;height:100%;width:100%;z-index:-10;opacity:.8;") %>
<section class="charsel">
<% @players.each do |player| %>
<%= button_tag(style: "border:20px;margin:0px;background:none;height:400px; width:400px;") do %>
<%= link_to "", users_path(player_id: player.id), method: :post, style: "height:400px;width:400px;position:fixed;border:20px;margin:0px;;"  %>
<%= image_tag("#{player.image} border:20px;margin:0px;background:none;") %>
<% end %>
<% end %>
</section>
</div>
