<section>
Welcome to FRIENDS!
</section><br><br><br>
<h1>It began with the forging of the Great Mod. Three repositories were given to the Elves, immortal, wisest and fairest of all beings. Seven to the Dwarf-Lords, great miners and craftsmen of the mountain halls. And nine, nine respositories were gifted to the race of Humans, who above all else desire apps. For within these repositories were bound the gems and methods to govern all tech. But they were all of them deceived, for there was another repository. Deep in the land of Silicon Valley, in the Fires of Mount Facetweet, the Dark Lord Squirrel forged a master repository, and into it he poured his cruelty, his malice and his will to dominate all apps forever.</h1><br><br>

<section>
  Choose your hero...
</section><br><br>
<% @players.each do |player| %>
<%= button_tag do %>
<%= link_to "", users_path(player_id: player.id), method: :post, style: "height:500px;width:500px;position:absolute;"  %>
<%= image_tag("#{player.image};") %>
<% end %>
<% end %>
